form {
    width: 90%;
}

.section-title{
    color: white;
    width: 100%;
    background-color: #545776;
    align-items: left;
    padding: 1%;
    font-size: large;
}



.add-icon button {
    font-size: x-large;
    width: 3%;
}

.add-imagen button {
    font-size: x-large;
    width: 3%;
}

.create button {
    font-size: x-large;
    width: 6%;
}