.App {
  text-align: center;
}

input.inputBox{
  font-size: 22px;
  padding: 5px 8px 4px 8px;
  border-radius: 3px;
  border: 1px solid #242526;
}

.calendarWrap{
  display: inline-block;
  position: relative;
  outline: none;
  border: none;
  font-size: 5px;
}

.calendarElement{
  position:absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  border: 1px solid #242526;
  top: 40px;
  z-index: 999;
}
