:root {
  --violet: #545776;
  --aquamarine: #1dbeb4;
}

#active{
  background-color: #1dbeb4;
  border: #1dbeb4;
}

div.container {
  margin-top: 10px;
}

#categories-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.individual-category img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.individual-category{
  font-size: 12px;
  width: 20%;
  box-shadow: 5px 5px 10px #c5c5c5;
  border-radius: 10px;
  border-width: 10px;
  
}

.individual-category h2, span{
  padding-left: 10px;
  width: 100%}
.individual-category h2{
    color: #261f3f;
    font-size: 16px}
  
.home-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-title{
    color: white;
    text-align: center;
}
.container-searcher{
    width: 80%;
}

.main-border-button a {
    font-size: 13px;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 25px;
    display: inline-block;
    font-weight: 500;
    transition: all .3s;
  }
  
  .main-border-button a:hover {
    background-color: #fff;
    color: var(--violet);
  }
  
  
  .main-white-button a {
    font-size: 13px;
    color: var(--violet);
    background-color: #fff;
    padding: 12px 25px;
    display: inline-block;
    border-radius: 3px;
    font-weight: 600;
    transition: all .3s;
  }
  
  .main-white-button a:hover {
    opacity: 0.9;
  }
  
  .main-text-button a {
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    transition: all .3s;
  }
  
  .main-text-button a:hover {
    opacity: 0.9;
  }
  
  .section-heading h2 {
    font-size: 34px;
    font-weight: 700;
    color: var(--violet);
  }
  
  .section-heading span {
    font-size: 14px;
    color: #a1a1a1;
    font-style: italic;
    font-weight: 400;
  }
  
  
  /*====================================================================================================================
  NAV DE CATEGORIAS
  ====================================================================================================================*/
  .navbar {
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    background-color: transparent;
    padding: 0 1rem;
  }
  .navbar-nav {
    width: 90%;
    height: 100%;
    display: flex;
  }
  .nav-item {
    width: 150px;
    display: flex;
    height: 70%;
  }
  .icon-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px ;
    border-radius: 15px;
    background-color: #e4cbcb;
    transition: filter 300ms;
  }
  .icon-button:hover{
    filter: brightness(1.2)
  }
  .categories-bar {
    width: 40px;
    size: 40px;
  }
  .icon-button span{
    color: #191a20;
  }
  .search-categoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 270px;
    padding-top: 110px;
    background-color: #545776;
    width: 100%;
  }


  
/* Searcher */

.form-container {
    justify-content: center;
    flex-direction: row;
    gap:2%;
    display: flex;
    width: 100%;
    margin: 10px;
  }


  .container-calendar{
    background-color: white;
    border-radius: 5px;
    height: 50px;
    width: 422px;
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .searcher-button button {
    border-radius: 5px;
    background-color: var(--aquamarine);
    font-size: large;
    font-weight: bolder;
    color: whitesmoke;
    height: 50px;
    width: 422px;
    padding: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    border: 0;
  }

  .form-container form {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 60px;
    justify-content: space-around;
  }

  .search-img{
    background-color: #ffffff;
    color: #ffffff;
    width: 45px;
    height: 45px;
  }
  .searcher-nav button {
    display: flex;
    border: 0px;
    background-color: transparent;
  }
  .search-input {
    border: none;
    background: transparent;
    height: 90%;
  }
  #search-people {
    width: 25%;
  }
  #search-location {
    width: 25%;
  }
  .vertical-line {
    color: transparent;
    background-color: transparent;
    border-left: 2px solid black;
    margin-top: 5px;
    height: 35px;
    border-style: dotted;
  }
  
  .calendar-searcher {
    background-color: white;
    border: none;
    z-index: 90;
  }

  .git{
    background-color: #191a20;
    z-index: 2;
  }

  .button-search{
    background-color: #1DBEB4;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
    position: relative;
    padding: 5x;
    height: 30px;
    width: 200px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .thumb{
    height: 600px;
    width: 100%;
  }

  .image-carusel{
    max-width:100%;
    
    object-fit:contain;
  }
  
  div .carousel.carousel-slider .control-arrow {
    top: 30%;
    background-color: var(--aquamarine);
    border: solid var(--violet) 1px;
    height: 100px;
    width:100px
  }

/* Searcher de ciudades */


.select-custom-class2{
  border-radius: 5px;
  z-index: 4;
  color:grey;
  height: 50px;
  width: 422px;
  border:0px;
  padding: 10px;
}


  @media (max-width: 700px) { 
    .search-title {
      font-size: 20px;
    }
    
    .search-input {
      border: none;
      background: transparent;
      height: 90%;
      font-size: 12px;
      text-align: center;
    }
    .search-img{
      
      color: #ffffff;
      width: 25px;
      height: 25px;
      margin: auto;
    }
    .search-categoria{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 210px;
      padding-top: 110px;
      background-color: #545776;
      width: 80%;
      border-radius: 10px;
    }
    .section-heading h2 {
      font-size: 20px;
      font-weight: 700;
      color: var(--violet);
    }
    #container-ciudades-listado-2{
      z-index: 100;
      background-color: white;
    }
    .container-ciudades-listado,.city{
      background-color: white;
    }
    .city-searcher{
      background-color: white;
      color: #1DBEB4;
    }
   }
   @media (max-width: 375px) { 
    .search-title {
      font-size: 16px;
    }
    
    .search-input {
      border: none;
      background: transparent;
      height: 90%;
      font-size: 8px;
      text-align: center;
    }
    .search-img{
      
      color: #ffffff;
      width: 20px;
      height: 20px;
      margin: auto;
    }
    .search-categoria{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 300px;
      padding-top: 200px;
      background-color: #545776;
      width: 100%;
      border-radius: 10px;
    }
    .section-heading h2 {
      font-size: 16px;
      font-weight: 700;
      color: var(--violet);
    }
    .container-carrusel{
   width: 100vw;
    }
    #carrusel .owl-nav .owl-next {
      display:block !important
      }
   }
