body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input.inputBox{
  font-size: 22px;
  padding: 5px 8px 4px 8px;
  border-radius: 3px;
  border: 1px solid #242526;
}

.calendarWrap{
  display: inline-block;
  position: relative;
}

.git{
  background-color: black;
}

.dates{
  text-align: center;
  padding-top: 30px;
}

.calendarElement{
  /* top: 40px; */
  display: flex;  
  border: 1px solid #242526;
  border-radius: 10px;
  z-index: 999;
  background-color: transparent;
}

.ProductCalendar{
  display: flex;
}

.rdrDateDisplayWrapper {
  display: none; 
}

:root{
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 100%;
  --border: 1px solid #474a4d;
  --border-radiu: 8px;
  -speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}
