.product-by-category-display{
    padding-left: 5%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 5%;
}

.thumb .image-carusel{
    max-width: 100%;
}
#image-carrusel{
    max-height: 200px;
}
product-by-category-display .thumb {
    height: 200px ;
}