.product-by-category-display{
    padding-left: 5%;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 5%;
}
.item {
    

}
.thumb .image-carusel{
    max-width: 100%;
}
