div.single-product-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

div.single-product-main-reserva{
    background-color: #eeeff2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.category-single-product{
    color: white;
    background-color: #545776;
}

.location-single-product{
    color: #545776;
    background-color: #eeeef1;
}
.location-single-product span{
    font-weight: bold;
}

.category-single-product,.location-single-product{
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    width: 100%;
} 

.gallery-single-product{
    height: 500px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.left-half-image {
    width: 45%;
}
.left-half-image img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}
.right-half-image{
    width: 45%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 45% 45%;
    gap: 5%;
    
}
.image-gallery img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

.description-single-product{
    color: #545776;
    font-weight: 300;
}
.description-single-product{
    padding-top: 30px;
    padding-left: 40px;
    width: 100%;
    text-align: start;
}
.description-single-product h6 {
    color: #545776;
    font-weight: bold;
}
.Fecha-disponible{
    background-color: white;
    margin-top: 30px;
}

.ProductCalendar{
    
    margin-top: 20px;
}
  /* Formulario de reservas */
form {
    width: 90%;
}
.form-cointainer{
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.detail-container{
    background-color: white;
    width: 33%;
}
.info-container{
    width: 63%;
}
.reservation-calendar{
    padding-top: 30px;
}
.user-data-form{
    background-color: white;
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 45% 45%;
    gap: 5%;
}
.input-container{
    display: flex;
    flex-direction: column;
}

.policies{
    background-color: white;
}
.image-detail img{
    width: 100%;
    max-height: 400px;
}
